.main {
  box-shadow: 0 0 15px rgba(88, 88, 88, 0.5);
  margin: 5% 0;
  border-radius: 10px;
}

.main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.main::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.main::-webkit-scrollbar-thumb
{
	background-color: #1157A7;
	border: 2px solid #555555;
}


.logout {
  margin-top: 3vh;
  margin-right: 2vw;
  color: #1157A7;
  font-size: 20px;
}

.logout:hover {
  text-shadow: rgba(173, 173, 207, 0.582) 1px 1px 0,  rgba(173, 173, 207, 0.582) -1px -1px 0, 
  rgba(173, 173, 207, 0.582) -1px 1px 0,  rgba(173, 173, 207, 0.582) 1px -1px 0;
}

.logoutImg {
  margin: 0 0.5vw;
}

.header{
  color: #424242;
  font-size: 32px;
}

