.img {
  position: absolute;
  background-image: url('./img/b4eaba0df84d2f013ec2c05b2908705b.jpeg');
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: -100;
}

.rgba {
  background:rgba(255, 255, 255, 0.6); 
  z-index: -50;
}

.formBg {
  background:#FFFFFF;
  padding: 50px 32px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.h3 {
  margin-bottom: 10px; 
}

.label {
  color: 424242
}